.mustache {
  &.mustache-inline:not(.mustache-inline-block) {
    &::before {
      content: "{{" attr(data-mustache-mark) attr(data-mustache-name) "}}";
    }
  }

  &.mustache-block,
  &.mustache-inline-block {
    &::before {
      content: "{{" attr(data-mustache-mark) attr(data-mustache-name) "}}";
    }
    &::after {
      content: "{{/" attr(data-mustache-name) "}}";
    }
  }
}
